.whole-body{
	width: 1139px;
	margin-left: 70px;
	margin-top: 20px;
	border-bottom: solid whitesmoke 1px;
}

.calc{
	background-color: gray;
	text-align: right;
	color: whitesmoke;
	height:  10vh;
	font-size: 35px;

}

.number-set{
	background-color: lightgray;
	height: 10vh;
	text-align: center;
	font-size: 30px;
	border-bottom: solid floralwhite 1px;
	border-left: solid whitesmoke 1px;
}

.operational-sign{
	background-color: orange;
	color: whitesmoke;
	height: 10vh;
	text-align: center;
	font-size: 30px;
	border-bottom: solid floralwhite 1px;
	border-left: solid floralwhite 1px;
}
